{cover_enabled, true}.

{lib_dirs, ["deps", "apps"]}.

{erl_opts, [debug_info, warnings_as_errors, {parse_transform, lager_transform}]}.

{deps, [{lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.1"}}},
        {druuid, ".*", {git, "git://github.com/kellymclaughlin/druuid.git", {tag, "0.2"}}} 
]}.
